body {
    background-color: #efefef;
}

* {
    margin: 0px;
    padding: 0px;
}

ol,
ul {
    list-style: none;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #dedede;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    display: block;
}

.topNavBar>nav>ul>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar {
    padding-top: 6px;
}

.topNavBar>nav>ul>li {
    float: left;
    margin: 0 17px;
}

.topNavBar>nav>ul>li>a {
    font-size: 14px;
    border-bottom: 5px solid transparent;
    color: #b7b7b7;
    padding: 5px 0;
}

.topNavBar>nav>ul>li>a:hover {
    border-bottom: 3px solid #e06567
}

.topNavBar>.logo {
    font-size: 24px;
    font-family: "Arial black";
    padding-top: 7px;
    padding-bottom: 10px;
}

.topNavBar>.logo>.rs {
    color: #e06567
}

.topNavBar>.logo>.card {
    color: #333333;
}

.banner {
    background-image: url(timg.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.6);
}

.usercard {
    border: 1px solid #e06567;
    max-width: 940px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 5px 8px rgba(0, 0, 0, 0.2)
}

.usercard .welcome {
    background-color: #e06567;
    color: #fff;
    display: inline-block;
    padding: 4px 15px;
    line-height: 22px;
    position: relative;
}

.usercard .welcome>.triangle {
    position: absolute;
    display: block;
    width: 0px;
    border: 15px solid transparent;
    border-left-color: #e06567;
    border-top-width: 0px;
    left: 5px;
}

.usercard .picture {
    float: left;
}

.usercard .text {
    float: left;
    margin-left: 65px;
    width: 400px;
}

.usercard .text h1 {
    margin-top: 26px;
    ;
}

.usercard .text hr {
    margin: 20px 0;
}

.usercard>.pictureAndText {
    padding: 60px 60px;
}

.usercard dl dt,
.usercard dl dd {
    float: left;
    padding: 5px 0;
}

.usercard dl dt {
    width: 30%;
    font-weight: bold;
}

.usercard dl dd {
    width: 70%;
    color: #9da0a7;
}

.usercard>footer.media {
    background-color: #e06567;
    text-align: center;
}

.usercard>footer.media>a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 5px;
    border-radius: 50%;
    margin: 16px 16px;
}

.usercard>footer.media>a:hover {
    background-color: #cf5d5f;
}

.usercard svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    margin: 0 1px;
}

body>main .downloadpdf {
    text-align: center;
}

body>main .downloadpdf {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 5px 5px 0px 0px;
    color: #3d4451;
    font-weight: blod;
    margin: 32px 0;
}

body>main .downloadpdf:hover {
    box-shadow: 0 4px 13px 0px rgba(0, 0, 0, 0.2)
}

.self-introuduction,
section.portfoilo {
    max-width: 940px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section.skills {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

section.skills>h2,
section.portfoilo>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 31px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills h3 {
    font-size: 14px;
    line-height: 1.2;
    padding-right: 40px;
}

section.skills>ol {
    background-color: #fff;
    box-shadow: 0px 1px 5px 8px rgba(0, 0, 0, 0.2);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

section.skills>ol>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

section.skills>ol>li:nth-child(even) {
    float: right;
}

section.skills .progressone {
    height: 5px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0px 40px;
}

section.skills .progresstwo {
    height: 5px;
    background-color: #e6686a;
    width: 50%;
    border-radius: 2px;
}

section.portfoilo {
    margin-top: 30px;
}

section.portfoilo>nav {
    text-align: center;
    display: inline-block;
}

section.portfoilo>nav>ol {
    margin: 0, auto;
    display: inline-block;
    vertical-align: top;
}

section.portfoilo>nav>ol>li {
    float: left;
    margin-left: 40px;
    padding: 30px 0 5px;
    cursor: pointer;
}

section.portfoilo>nav>ol>li:nth-child(1) {
    margin-left: 0px;
}

section.portfoilo>nav>.bar {
    height: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 2px;
}

section.portfoilo>nav .bar-inner {
    height: 100%;
    background-color: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfoilo>nav .bar.status-1 .bar-inner {
    margin-left: 0px;
    width: 50px;
}

section.portfoilo>nav .bar.status-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

section.portfoilo nav .bar.status-3 .bar-inner {
    margin-left: 140px;
    width: 96px;
}

section.portfolio .works {
    position: relative;
    border: 3px solid black;
}

section.portfolio .works .big,
section.portfolio .works .small {
    position: absolute;
}