.clearfix{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
    display: block;
}
.topNavBar>nav>ul>li{
    list-style: none;
    margin:0;
    padding: 0;
}
.topNavBar{
 padding-top: 6px;
}
.topNavBar>nav>ul>li{
    
    float:left;
    margin:0 17px;
}
.topNavBar>nav>ul>li>a{
  
    font-size: 14px;
    border-bottom: 5px solid transparent;
    color: #b7b7b7;
    padding: 5px 0;
}
.topNavBar>nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567
}
.topNavBar>.logo{
    font-size: 24px;
font-family:"Arial black";
padding-top:7px;
padding-bottom: 10px;

}
.topNavBar>.logo>.rs{
  color: #e06567
}
.topNavBar>.logo>.card{
    color: #333333;
}